<!doctype html>
<html>
<head>
    <title> CSE 5381 : IS2 Assignment 4 (SPRING 2023)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="../static/css/add_s_data.css">
    <link rel="stylesheet" type="text/css" href="../static/fontawsome/css/all.css">
</head>
<body>
<h1 style="text-align: center;"><a href="{{ url_for('index') }}">CSE 5381 : IS2 Assignment 4 (SPRING 2023)</a></h1>
<h1 style="text-align: center;">Rohit Padwal</h1>
<h1 style="text-align: center;">1001833828</h1>
<ul>

</ul>
</body>
</html>
